* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, 'Segoe UI', Arial, sans-serif;
}

body {
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}









.header {
    display: flex;
    justify-content: flex-end;
    padding: 20px 30px;
    margin-right: 290px;
}

.premiere-ligne {
    display: flex;
    gap: 0px;
}

.premiere-ligne a {
    text-decoration: none;
    color: #5f6368;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 70px;
    height: 30px;
}

.premiere-ligne .gmail:hover {
    text-decoration: none;
    background-color: bisque;
    transform: scale(1.2);
    transition: transform 0.4s ease;
}

.premiere-ligne .images:hover {
    text-decoration: none;


}








.contenu-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    flex: 1;
    gap: 25px;

}






.logo-google {
    display: flex;
    font-size: 120px;
    font-weight: 800;
    align-items: center;
}

.Gg {
    color: #4285F4;
}

.oe {
    color: #EA4335;
}

.o {
    color: #FBBC05;
}

.l {
    color: #34A853;
}







.zone-recherche {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}




.zone-recherche input {
    width: 550px;
    height: 45px;
    border-radius: 25px;
    border: solid 0.5px;
    padding: 0 20px;
    font-size: 25px;
    margin-top: 38px;
    padding-left: 8px;
}

.zone-recherche input:hover {
    border: 1px solid rgba(98, 155, 247, 0.8);
    box-shadow: 0 0 0px 3px rgba(3, 48, 214, 0.2);
}









.boutons-recherche {
    display: flex;
    gap: 15px;
    margin-top: 28px;
    margin-bottom: 32px;
}

.boutons-recherche button {
    background-color: #f1f3f4;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.boutons-recherche button:hover {
    background-color: #fff;
    border: none;
    color: #34A853;
    box-shadow: 0px 3px rgb(227, 230, 232);
}












.le-pied {
    text-align: center;
    color: #70757a;
    font-size: 14px;

}

.le-pied ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 10px;
}


.suppression-point {
    list-style: none;
}

















@media (max-width: 425px) {

    .header {


        margin-right: 70px;
    }

    .premiere-ligne a {


        font-size: 10px;


        width: 70px;
        height: 30px;
    }

    .logo-google {

        font-size: 80px;
        font-weight: 800;

    }

    .contenu-principal {

        padding-top: 70px;


    }

    .zone-recherche input {
        width: 300px;
        height: 39px;
        font-size: 19px;
    }

    .zone-recherche input:hover {
        border: 1px solid rgba(66, 133, 244, 0.8);
        box-shadow: 0 6px 8px rgba(3, 30, 129, 0.2);
    }

    .boutons-recherche button {
        font-size: 8px;

    }

    .le-pied {


        font-size: 16px;

    }

   
}




 @media (min-width: 426px) and (max-width: 730px) {

        .header {
            margin-right: 100px;
            
        }

        .premiere-ligne a {
            font-size: 14px;
        }


        .contenu-principal {
            padding-top: 110px;
            gap: 20px;
        }


        .logo-google {
            font-size: 80px;
        }


        .zone-recherche input {
            width: 360px;
            height: 40px;
            font-size: 20px;
            margin-top: 25px;
        }


        .boutons-recherche {
            
            
        }

        .boutons-recherche button {
            font-size: 10px;
            
        }


        .le-pied {
            font-size: 16px;
        }

        .le-pied ul {
            gap: 20px;
        }
    }